.page {
  margin: 0 auto;
}
nav {
  background: green;
}
img {
  max-width: 100%;
  display: block;
}

.header-and-intro-container {
  display: flex;
  flex-wrap: wrap;
}

header, .intro {
  background-color: orange;
  flex-basis: 500px;
  flex-shrink: 0;
}
header {
  flex-grow: 1;
}
.intro {
  flex-grow: 2;
}
