$highlight: #5b323a;
$primary-dark: #163f3d;
$primary: #2e7369;
$primary-light: #52a398;
$soft: #efd1cd;
$navbar-height: 20px;
$max-width-content: 900px;
$shift-translate-x: 25%;

 @import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}
img {
  max-width: 100%;
  display: block;
}

h1, h2, h3 {
  font-weight: 400;
  line-height: 1.15;
}
p {
  font-size: 20px;
}
h3 {
  font-size: 25px;
}
h2 {
  font-size: 31.25px;
}
h1 {
  font-size: 39.06px;
}

nav {
  position: fixed;
  height: $navbar-height;
  max-width: $max-width-content;
  background: $soft;
  z-index: 5;
  width: 100%;
  ul {
    list-style: none;
    display: flex;
    li {
      margin-right: 30px;
    }
  }
}

header {
  padding-top: calc(2 * #{$navbar-height});
}

.content {
  max-width: $max-width-content;
  margin: 0 auto;
  background: $soft;
}

.shift {
  display: flex;
  flex-direction: column;
  transition: transform .2s ease-in-out;
  width: 100%;
  &.expand {
    background: blue;
    .collapsed-content {
      max-height: none;
    }
  }
}

.shift.left {
  align-items: flex-end;
  background-color: $primary;
  text-align: right;
}

.shift.right {
  align-items: flex-start;
  background-color: $primary-light;
  text-align: left;
}

.shift.left.active {
  transform: translateX(-#{$shift-translate-x});
  &.expand {
    transform: translateX(calc(-#{$shift-translate-x} / 1.25));
    width: calc(100% + #{$shift-translate-x});
  }
}
.shift.right.active {
  transform: translateX(#{$shift-translate-x});
}

section {
  margin-top: 40px;
}

section {
  & > div {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.text-container {
  padding: 10px 15px;
  box-sizing: border-box;
}

.shift-content {
  width: 75%;
  max-width: calc(.75 * #{$max-width-content});
}

.collapsed-content {
  background: red;
  overflow: hidden;
  max-height: 0;
}

.case-exit-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 26px;
  span {
    background: red;
    height: 2px;
    width: 26px;
  }
}

.case.left {
  .case-exit-button {
    top: 0;
    left: 0;
  }
}

.case.right {
  .case-exit-button {
    top: 0;
    right: 0;
  }
}
