$highlight: #5b323a;
$primary-dark: #163f3d;
$primary: #2e7369;
$primary-light: #52a398;
$soft: #efd1cd;
$navbar-height: 20px;
$max-width-content: 900px;
$shift-translate-x: 25%;

 @import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}
img {
  max-width: 100%;
  display: block;
}

h1, h2, h3 {
  font-weight: 400;
  line-height: 1.15;
}
p {
  font-size: 20px;
  margin: 10px 0px;
  a {
    color: $highlight;
    &:hover {
      text-decoration: underline;
    }
  }
}
h3 {
  font-size: 25px;
  margin: 15px 0px;
}
h2 {
  font-size: 31.25px;
}
h1 {
  font-size: 39.06px;
}

nav {
  position: fixed;
  height: $navbar-height;
  max-width: $max-width-content;
  background: $soft;
  z-index: 5;
  width: 100%;
  ul {
    list-style: none;
    display: flex;
    li {
      margin-right: 30px;
    }
  }
}

header {
  padding-top: calc(2 * #{$navbar-height});
}

.content {
  max-width: $max-width-content;
  margin: 0 auto;
  background: $soft;
}

section {
  margin-top: 40px;
}

section {
  & > div {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.shift {
  display: flex;
  flex-direction: column;
  transition: transform .2s ease-in-out;
  width: 100%;
}

.shift.left {
  background-color: $primary;
  align-items: flex-end;
  h3 {
    text-align: right;
  }
}

.shift.right {
  align-items: flex-start;
  background-color: $primary-light;
}

.shift.left.active {
  transform: translateX(-#{$shift-translate-x});
}
.shift.right.active {
  transform: translateX(#{$shift-translate-x});
}

.shift.active.expand {
  transform: translateX(0);
  .shift-content {
    width: 100%;
  }
  .collapsed-content {
    opacity: 1;
  }
  .case-exit-button {
    opacity: 1;
  }
}

.collapsed-content {
  overflow: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height .2s ease-in-out, opacity .4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.case.left {
  .case-exit-button {
    top: 0;
    left: 0;
  }
}

.text-container {
  box-sizing: border-box;
  padding: 15px 10px;
}

.shift-content {
  width: 75%;
  // max-width: calc(.75 * #{$max-width-content});
  transition: width .2s ease-in-out;
  overflow: hidden;
}

.case.right {
  .case-exit-button {
    top: 0;
    right: 0;
  }
}

.case-exit-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 26px;
  height: 26px;
  opacity: 0;
  span {
    background: black;
    height: 2px;
    width: 26px;
    &:first-child {
      transform: translateY(50%) rotate(45deg);
    }
    &:last-child {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

// .case-cover {
//   display: block;
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   background: #5b323a;
//   opacity: .5;
//   &:hover {
//     opacity: 0 !important;
//   }
//   transition: opacity .2s ease-in-out;
// }
//
// .case.expand {
//   .case-cover {
//     display: none;
//   }
// }

.color-choices {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 20px;
  display: flex;
  div {
    flex: 1;
    height: 100%;
  }
  .primary {
    background: $primary;
  }
  .primary-dark {
    background: $primary-dark;
  }
  .primary-light {
    background: $primary-light
  }
  .highlight {
    background: $highlight;
  }
  .soft {
    background: $soft;
  }
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  color: $highlight;
  background: rgba($highlight, 0);
  transition: background .2s ease-in-out;
  border-radius: 4px;
  padding: 7px 14px;
  border: none;
  display: inline-block;
  margin: 15px 0;
}
.button:hover {
  background: rgba($highlight, .16);
}
.button.outlined {
  border: 2px solid $highlight;
}
a {
  color: inherit;
  text-decoration: none;
}
 .side-padding {
   padding: 0px 15px;
 }
