body {
  width: 100%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  display: block;
}
.content {
  max-width: 900px;
  margin: 0 auto;
  background: #efd1cd;
}
nav {
  ul {
    list-style: none;
    display: flex;
    li {
      margin-right: 30px;
    }
  }
}
h1, h2, h3 {
  text-align: center;
}

.shift {
  display: flex;
  flex-direction: column;
  transition: transform .2s ease-in-out;
  & > * {
    max-width: 75%;
  }
}

.shift.left {
  align-items: flex-end;
  background-color: #2e7369;
}

.shift.right {
  align-items: flex-start;
  background-color: #52A398;
}

.shift.left.active {
  transform: translateX(-25%);
}
.shift.right.active {
  transform: translateX(25%);
}

section {
  & > div {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
